body {
  width: 50%;
  margin: 0 auto;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3rem;
  color: #ff6347;
}

input {
  font-size: 20px;
  color: black;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ff6347;
}

.task {
  background: greenyellow;
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.task span {
  color: black; 
  font-size: 20px;
  font-weight: 600;

}

.icon{
  float: right;
  margin-right: 20px;
}

article {
  display: grid;

}

.edit-todo {
  width: 85%;
  font-size: 25px;
  color: black;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid red;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #6c6777;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top: 15px;
}

.button.selected {
  color: #FFF;
  background-color: #6c6777;
}

.button.clear {
  float: right;
  color: #FFF;
  background-color: #ee1630;
  width: 170px;
}